/* body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #111212 0%, #ebf9f9 100%);
}

.parent-div {
  width: 960px;
  margin: 0 auto;
}

content {
  width: 65%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
} */

h1 {
  text-align: center;
  color: white;
}